<html>
<head>
    <title>Tweeto - Login</title>
    <link rel='stylesheet' href='/static/example.css' />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
</head>
    <body class="loginBackground">
        <div class="tweetoLogo">Tweeto</div>
        <div class="login-form">
            <form action="/signin" method="post" enctype="multipart/form-data">
                <h2 class="text-center">Log in</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" required="required" name="username"></input>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="required" name="password"></input>
                    {% if passwordError != "" %}
                        <small class="text-danger">{{ passwordError }}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Secret Box Password" required="required" name="secret_password"></input>
                    {% if secretPasswordError != "" %}
                        <small class="text-danger">{{ secretPasswordError }}</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>
            </form>
        </div>
    </body>
</html>