{% extends "layout.html" %}

{% block script %}
<script>
    $(document).ready(function(){
        var selectedUser = ""

        $(".onlineUser").on("click", clickOnUser);

        function clickOnUser() {
            $(".sendMessageButton").prop('disabled', false);
            selectedUser = $(this).text();
            selectedUser = selectedUser.substring(0, selectedUser.indexOf(" "))
            $(".personNameLabel").text(selectedUser);
            $(".loading").show();
            $.post('/getMessageHistory', {userName: selectedUser}, function(data) {
                $(".loading").hide();
                $(".chatArea").html(data);
            });
        }

        $(".sendMessageButton").on("click", function(){
            $(".chatArea").append("<div class='messageWrapper'><div class='sendingMessage'>" + $(".messageBox").val().replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;") + "</div></div>");
            var messageText = $(".messageBox").val();
            $(".messageBox").val("");
            $.post('/send_private_message', {username: selectedUser, message: messageText}, function(data) {
                console.log(data)
                if (data == 'ok') {
                    $(".sendingMessage").addClass("sentMessage");
                    $(".sendingMessage").removeClass("sendingMessage");
                } else {
                    var errorMessage = ("<div style='float:right; margin-top:3px; margin-right:5px; color:red;'>ERROR SENDING MESSAGE</div>");
                    $(".sendingMessage").after(errorMessage)
                }
            });
        });

        setInterval(refreshMessages, 10000);
        function refreshMessages() {
            if (selectedUser != ""){
                $.post('/getMessageHistory', {userName: selectedUser}, function(data) {
                    console.log(data)
                    $(".chatArea").html(data);
                });
            }

            $.post('/online_users', function(data) {
                console.log(data);
                $(".sidebar").html(data);
            });
            
            $(document).on("click", ".onlineUser", clickOnUser); 
        }
    });
</script>
{% endblock %}



{% block head %}
    <title>Tweeto - Messages</title>
{% endblock %}

{% block content %}
    <div class="personNameArea">
        <h3 class="personNameLabel">Select a friend to chat with...</h3>
    </div>
    <div class="chatArea">
        <div class="loading">
            <i class="fa fa-spinner fa-spin loadingIcon"></i>
        </div>
    </div>
    <div class="enterTextArea">
        <form>
            <textarea class="messageBox fixChromeBug" rows="2"></textarea>
            <input type="button" class="sendMessageButton" value="Send" disabled></input>
        </form>
    </div>
{% endblock %}
{% block sidebar %}   
    <!-- SIDEBAR -->
    <div class="sidebar">
        {% include "online_users.html" %}
    </div>
{% endblock %}